<div class="main">
  <%= link_to "戻る", 'javascript:history.back()', class: :tweet_edit_back %>
  <div class="tweet_inner">
    <div class="form_wrapper">
      <h2 class="page_heading">ブログ編集</h2>
      <%= render partial: "form", locals: { tweet: @tweet } %>
    </div>
  </div>
</div>