<div class="main">
  <div class="tweet_inner">
  <div class="header_bottom_content"></div>
  <div class="main_top">
    <%= link_to "新規投稿", new_tweet_path, class: :new_tweet_btn %>
  </div>
  </div>
    <div class="card_wrapper">
        <%= render partial: 'tweet', collection: @tweets %>
    </div>
</div>