/* リセットCSS */

* {
    box-sizing: border-box;
}
  
html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}
  
body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}
  
li {
  list-style: none;
}
  
img {
  max-width: 100%;
  vertical-align: bottom;
  border-radius: 15px;
}
  
a {
  text-decoration: none;
  color: #3b4043;
}

input{
  height: 30px;
  width: 400px;
  outline: none;
}

input:-webkit-autofill {
  border: thin solid rgb(53, 53, 53);
  box-shadow: 0 0 0 1000px white inset;
}

.main{
  background-color: #f7f7f7;
  height: calc(100% - 110px - 24px);
}

.another_main{
  background-color: #f7f7f7;
  height: calc(100vh - 110px - 24px);
}

.header{
  background-color: #fff;
}

.innner{
  width: 1300px;
  margin: 0 auto;
}

.nav{
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  width: 200px;
  font-size: 25px;
  background-color: rgb(224, 193, 254);
  padding: 10px;
  border-radius: 25px;
}

.nav_btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  margin-left:  20px;
  font-size: 0.8em;
  color: black;
  text-decoration: none;
  user-select: none;
  border: 1px rgb(123, 123, 123) solid;
  transition: 0.4s ease;
  border-radius: 15px;
  background-color: #fff;
}
.nav_btn:hover{
  color: black;
  background: rgb(224, 193, 254);
  border-radius: 15px;
}