// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// メイン
  
.main_top{
  display: flex;
}

.tweet_inner{
  width: 1200px;
  margin: 0 auto;
}

.new_tweet_btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: black;
  background-color: rgb(230, 230, 230);
  text-decoration: none;
  user-select: none;
  border-radius: 15px;
  margin-left: 455px;
}
  
.new_tweet_btn:hover{
  color: black;
  background-color: rgb(224, 193, 254);
}

.search{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: black;
  background-color: rgb(230, 230, 230);
  text-decoration: none;
  user-select: none;
  border-radius: 15px;
  margin-left: 100px;
}
  
.search:hover{
  color: black;
  background-color: rgb(224, 193, 254);
}

.card_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 1024px;
  margin: 0 auto;
  margin-top: 100px;
}

.card {
  width: calc((100% - 50px) / 3);
  margin-bottom: 40px;
  padding: 20px 0 0 12px;
  background-color: white;
  border-radius: 20px;
}
  
.card_img {
  object-fit: cover;
  height: 190px;
  width: 300px;
  margin-bottom: 15px;
}
  
.card_title {
  display: block;
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  text-align: center;
}
  
.card_summary {
  font-size: 16px;
  width: 300px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 25px;
  text-align: center;
}

.card_bottom_area{
  display: flex;
  color: #999;
  justify-content: space-around;
  font-size: 12px;
  flex-direction: row-reverse;
}
  
.card_user {
  display: block;
  font-size: 12px;
  color: #999;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 20px;
}

.tweet_edit_back{
  display: inline-block;
  padding: 0.4em 1.6em;
  text-align: center;
  margin: 40px 685px 0;
  font-size: 0.8em;
  color: black;
  background-color: #e6e6e6;
  text-decoration: none;
  user-select: none;
  border-radius: 15px;
}

.tweet_edit_back:hover{
  color: black;
  background: rgb(224, 193, 254);
}

// 新規投稿ページのカテゴリー

.select-box{
  height: 30px;
  width: 400px;
}

// 詳細ページ

.tweet_wrapper{
  min-height: calc(100vh - 161px);
}

.tweet_hedding{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

.tweet_category_parent{
  padding: 0 600px;
  display: flex;
  justify-content: space-around;
}

.tweet_user{
  display: block;
  font-size: 16px;
  color: #999;
  margin: 20px 0 5px 0;
  text-align: center;
  text-decoration: underline;
}

.tweet_category_child{
  text-align: center;
  color: #999;
  margin: 20px 0 5px 0;
}

.tweet_image{
  height: 180px;
  width: 300px;
  margin: 0 auto;
  padding: 16px 0;
}

.tweet_manage{
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

.main_area{
  height: calc(100vh - 120px - 35px);
  width: calc(100vw - 300px);
  background-color: #fff;
  padding: 30px 50px 85px;
  margin: 0 auto;
}

.tweet_content{
  display: flex;
  justify-content: space-around;
  width: 800px;
  height: 450px;
  margin: 50px auto 0;
  border-radius: 35px;
  background-color: #f7f7f7;
  padding: 20px;
}

.catch_copy_area{
  height: 410px;
  width: 350px;
  background-color: #fff;
  border-radius: 20px;
  padding: 0 10px 10px 10px;
  overflow: scroll;
}

.content_title{
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}

.memo_content_text{
  font-size: 15px;
}

.text_area{
  height: 410px;
  width: 350px;
  background-color: #fff;
  border-radius: 20px;
  padding: 0 10px 10px 10px;
  overflow: scroll;
}